@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
  background: #2c2f33;
}

*::-webkit-scrollbar-thumb {
  background-color: #fff;
  border: 1px solid #2c2f33;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Oswald', sans-serif;
}

.neonText {
    animation: flicker 1.5s infinite alternate;
    color: #fff;
  }
  
  h1 {
    font-size: 4.2rem;  
    padding-bottom: 15px;  
  }
  
  /* Flickering animation */
  @keyframes flicker {
      
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
  
        text-shadow:
        0 0 4px #fff,
        0 0 8px #fff,
        0 0 12px #fff,
        0 0 30px rgb(0, 255, 242),
        0 0 60px rgb(0, 255, 242),
        0 0 75px rgb(0, 255, 242),
        0 0 90px rgb(0, 255, 242),
        0 0 120px rgb(0, 255, 242);
    
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
    }    
  }

.headerNav {
    background-color: #212529;
    height: 80vh;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0 5rem;
    text-align: center;
    transition: all 500ms;
}

.headerLogo img {
    padding-top: 20px;
    padding-bottom: 20px;
    max-height: 70vh;
    transition: all 500ms;
  }

  .headerLogo img:hover {
    -webkit-transform: scale(1) perspective(1000px) rotateX(15deg) rotateY(23deg) rotate(-8.8deg);
    transform: scale(1) perspective(1000px) rotateX(15deg) rotateY(23deg) rotate(-8.8deg);
  }

.headerNav {
    padding: 0 30px;
  }

  .headerNav p {
    width: 400px;
    font-size: 18px;
    color: #fff;
  }

  .discordMention {
    color: #7289DA;
    background-color: rgba(114,137,218,.1);
    padding: 0 2px;
    border-radius: 3px;
    cursor: pointer;
    letter-spacing: 0.5px;
    transition: all 400ms;
  }

  .discordMention:hover p {
    color: #fff;
  }

  .discordMention:hover {
    background-color: rgba(114,137,218);
    color: #fff;
  }

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 70px;
  }

  .container a {
    text-decoration: none;
    color: #fff;
    background-color: #636363;
    padding: 6px 40px 7px 40px;
    transition: all 500ms;
  }

  .container a:hover {
    background-color: rgb(0, 202, 192);
    border: 1px solid #fff;
    padding: 7px 42px 8px 42px;
  }

.headerUnder {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .separator {
    margin: 7vh 0 10px 0;
    width: 5%;
    height: 4px;
    background-image: linear-gradient(-45deg,rgb(0, 110, 255), rgb(159, 29, 246));
  }

  .warn {
    padding-bottom: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .warn p {
    font-size: 22px;
    text-align: center;
    padding-bottom: 20px;
  }

  .containerTwo a {
    text-decoration: none;
    color: #fff;
    background-color: #636363;
    padding: 6px 40px 7px 40px;
    transition: all 500ms;
  }

  .containerTwo a:hover {
    background-color: rgb(159, 29, 246);
    padding: 7px 42px 8px 42px;
  }

.bodyContent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 120px;
    grid-row-gap: 60px;
    text-align: center;
  }
    
  .div1 { grid-area: 1 / 1 / 2 / 2; }
  .div2 { grid-area: 1 / 2 / 2 / 3; }
  .div3 { grid-area: 2 / 1 / 3 / 3; }
  .div4 { grid-area: 3 / 1 / 4 / 2; }
  .div5 { grid-area: 3 / 2 / 4 / 3; }

  .bodyContent h1 {
    font-size: 36px;
  }

  .contentDouble {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contentDouble img {
    max-height: 35vh;
    border-radius: 10px;
    margin-top: 15px;
  }

  .separatorSection {
    margin: 0 auto;
    margin-bottom: 10px;
    width: 30%;
    height: 4px;
    background-image: linear-gradient(-45deg,rgb(0, 110, 255), rgb(159, 29, 246));
  }

.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  footer {
    padding: 60px 0 20px;
  }

  .footerSeparator {
    margin: 0 auto;
    width: 10%;
    max-width: 50px;
    height: 4px;
    background-image: linear-gradient(-45deg,rgb(0, 110, 255), rgb(159, 29, 246));
  }

  .flex p {
    width: 45%;
  }

  .right {
    text-align: right;
  }

  .left {
    text-align: left;
  }

@media screen and (max-width:850px){
  .headerNav {
      height: 100vh;
      font-size: 15px;
    }

    .headerLogo img {
      max-height: 50vh;
      padding-bottom: 0;
    }

    .neonText {
      font-size: 32px;
      padding-bottom: 0;
    }

    .headerNav p {
      width: 100%;
    }

  .separator {
      width: 25%;
      margin-top: 5vh;
    }

    .warn p {
      padding-bottom: 5vh;
    }
  
    .bodyContent {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(5, 1fr);
      grid-column-gap: 0px;
      grid-row-gap: 60px;
      }
      
      .div1 { grid-area: 1 / 1 / 2 / 2; }
      .div2 { grid-area: 2 / 1 / 3 / 2; }
      .div3 { grid-area: 3 / 1 / 4 / 2; }
      .div4 { grid-area: 4 / 1 / 5 / 2; }
      .div5 { grid-area: 5 / 1 / 6 / 2; }

  .flex {
    flex-direction: column;
  }

  .flex p {
    width: auto;
    padding: 15px 0;
  }

  .right {
    text-align: center;
  }

  .left {
    text-align: center;
  }
}